//Core partials
@import "master";
#gift-guide-container {
	#hero-row {
		margin-top: 40px;
		@include max(767) {
			margin-top: get-vw-screen(40px, 767);
		}
		#hero-col {
	position: relative;
	max-width: 1550px;
	.desktop-bg-container {
		@include min(768) {
			display: -ms-grid;
			display: grid;
			-ms-grid-columns: 32% 10px 1fr;
			grid-template-columns: 32% 10px 1fr;
			max-width: 1520px;
			margin: 0 auto;
		}
		@include minmax(1199, 1600) {
			-ms-grid-columns: 32% get-vw-screen(10px, 1600) 1fr;
			grid-template-columns: 32% get-vw-screen(10px, 1600) 1fr;
		}
		& .background-A,
		.background-B {
			@include min(768) {
				height: 100%;
				min-height: 600px;
				max-height: 600px;
				margin: 0 auto;
				width: 100%;
			}
		}
		& .background-A {
			@include min(1199) {
				-ms-grid-column: 1;
				grid-column: 1;
				background: url("https://cdn.joules.com/medias/ggtestpy-hero-01-v1.jpg?context=bWFzdGVyfGltYWdlc3w0MzAyNnxpbWFnZS9qcGVnfHN5cy1tYXN0ZXIvaW1hZ2VzL2hjOC9oZTkvOTU2OTgyNTYxOTk5OC9nZ3Rlc3RweV9oZXJvXzAxX3YxLmpwZ3xkYjNmZWQxNzQ5ZGQ5MDJkNDk0OTZhYzNiNGJjY2VmM2JmYzdjYmZkY2U1Y2QwMzk2MDY4ZjUwYzEwMjk5OTIw") no-repeat 50% 50%;
				float: left;
			}
		}
		& .background-B {
			position: relative;
			@include min(768) {
				-ms-grid-column: 3;
				grid-column: 3;
				background: url("https://cdn.joules.com/medias/ggtestpy-hero-02-v1.jpg?context=bWFzdGVyfGltYWdlc3wxMjM1ODF8aW1hZ2UvanBlZ3xzeXMtbWFzdGVyL2ltYWdlcy9oZjUvaGU1Lzk1Njk4MjU3NTEwNzAvZ2d0ZXN0cHlfaGVyb18wMl92MS5qcGd8ZDZhNGVhYjI5NjQwY2JmYTE0NDA5ZmE5Y2NlZGNiMTk1ZDNkMjhlYmE0YjA2YWViZDg4ZjEzMzg5ODJmYWJkZA") no-repeat 50% 50%;
			}
			@include minmax(768, 1199) {
				-ms-grid-column: 1;
				-ms-grid-column-span: 3;
				background: url("https://cdn.joules.com/medias/ggtestpy-tablet-01-v1.jpg?context=bWFzdGVyfGltYWdlc3wxMDgzMjB8aW1hZ2UvanBlZ3xzeXMtbWFzdGVyL2ltYWdlcy9oNTQvaDhkLzk1Njk4MjYyNDI1OTAvZ2d0ZXN0cHlfdGFibGV0XzAxX3YxLmpwZ3xiNjQxNzc2MTkxZDE5NjM3MDlhMjA1ZjFmMjg3ZGZmZjcwOTI5YTU5NWFjNWE3NDZlMDdhOTU2MDlmZGRiOGM1") no-repeat 50% 50%;
				grid-column: 1/4;
			}
		}
	}
	.text-container {
		text-align: center;
		position: absolute;
		transform: translate(-50%, 0%);
		left: 50%;
		top: 53%;
		@include max(767) {
			top: 12%;
		}
		h2 {
			font-weight: 600;
		}
		h3 {
			font-weight: 400;
		}
		h2,
		h3 {
			@include display-text($fut, 36px, 1.2, 0.08em, #fff, null, null);
			text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
			margin: 0 auto;
			white-space: nowrap;
			@include max(767) {
				font-size: get-vw-screen(56px, 767);
			}
		}
		button {
			@include button(#b23459, #fff);
			margin: 15px auto 0;
			@include max(767) {
				margin: get-vw-screen(15px, 767) auto 0;
			}
		}
	}
}

	}
}
