<div class="row feature-row">
    <div class="feature-col col-xs-12">
        <div class="feature-block block-left">
            <a href="[Popular_Categories_Left_Link]">
                <img src="[Popular_Categories_Left_Image_Source]" class="img-responsive" alt="[Popular_Categories_Left_Text]">
                <div class="cta-container">
                    <button>[Popular_Categories_Left_Text]</button>
                </div>
            </a>
        </div>
        <div class="feature-block block-right">
            <a href="[Popular_Categories_Right_Link]">
                <img src="[Popular_Categories_Right_Image_Source]" class="img-responsive" alt="[Popular_Categories_Right_Text]">
                <div class="cta-container">
                    <button>[Popular_Categories_Right_Text]</button>
                </div>
            </a>
        </div>
    </div>
</div>