<div class="container-fluid" id="gift-guide-container">
    <div class="row" id="title-row">
        <div class="col-xs-12">
            <h1>[Main_Title]</h1>
        </div>
    </div>
    <div class="row" id="hero-row">
        <a href="[Hero_Link]">
            <div class="col-xs-12" id="hero-col">
                <img src="https://cdn.joules.com[Hero_Mobile_Image]" class="img-responsive visible-xs" alt="[Hero_Headline]">
                <div class="text-container">
                    <h3>[Hero_Headline]</h3>
                    <span class="cta">[Hero_Button_Text]</span>
                </div>
            </div>
        </a>
    </div>