<div class="container-fluid" id="gift-guide-container">
    <div class="row" id="title-row">
        <div class="col-xs-12">
            <h1>[Main_Title]</h1>
        </div>
    </div>
    <div class="row" id="hero-row">
        <a href="[Hero_Link]">
            <div class="col-xs-12" id="hero-col">
                <div class="background-container hidden-xs">
                    <div class="background-A"></div>
                    <div class="background-B"></div>
                    <div class="background-C hidden-sm"></div>
                </div>
                <img src="[Hero_Mobile_Image_Source]" class="img-responsive visible-xs" alt="[Hero_Headline]">
                <div class="text-container">
                    <h3>[Hero_Headline]</h3>
                    <span>[Hero_Button_Text]</button>
                </div>
            </div>
        </a>
    </div>