<div class="container-fluid" id="gift-guide-container">
    <div class="row" id="title-row">
        <div class="col-xs-12">
            <h1>[Main_Title]</h1>
        </div>
    </div>
    <div class="row" id="hero-row">
        <a href="[Hero_Link]">
            <div class="col-xs-12" id="hero-col">
                <div class="background-container hidden-xs">
                    <div class="background-A"></div>
                    <div class="background-B"></div>
                    <div class="background-C hidden-sm"></div>
                </div>
                <img src="[Hero_Mobile_Image_Source]" class="img-responsive visible-xs" alt="[Hero_Headline]">
                <div class="text-container">
                    <h3>[Hero_Headline]</h3>
                    <span>[Hero_Button_Text]</button>
                </div>
            </div>
        </a>
    </div>
    <div class="row carousel-row">
        <span class="carousel-title">[Browse_Gifts_Headline]</span>
        <div class="gifting-carousel invisible gift-guide-carousel">
            [Browse_Gifts_Carousel_Row]
        </div>
    </div>
    <div class="row feature-row">
        <div class="feature-col col-xs-12">
            <div class="feature-block block-left">
                <a href="[Popular_Categories_Left_Link]">
                    <img src="[Popular_Categories_Left_Image_Source]" class="img-responsive" alt="[Popular_Categories_Left_Text]">
                    <div class="cta-container">
                        <button>[Popular_Categories_Left_Text]</button>
                    </div>
                </a>
            </div>
            <div class="feature-block block-right">
                <a href="[Popular_Categories_Right_Link]">
                    <img src="[Popular_Categories_Right_Image_Source]" class="img-responsive" alt="[Popular_Categories_Right_Text]">
                    <div class="cta-container">
                        <button>[Popular_Categories_Right_Text]</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row carousel-row bfx_hide">
        <span class="carousel-title">[Gifts_Under_Headline]</span>
        <a href="[Gifts_Under_Button_Link]" class="carousel-button">[Gifts_Under_Button_Text]</a>
        <div class="gifting-carousel invisible gift-guide-carousel">
            <div class="item">
                <a href="[Gifts_Under_Block_1_Link]">
                    <img src="[Gifts_Under_Block_1_Image_Source]" class="img-responsive" alt="[Gifts_Under_Block_1_Text]">
                    <span>[Gifts_Under_Block_1_Text]</span>
                </a>
            </div>
            <div class="item">
                <a href="[Gifts_Under_Block_2_Link]">
                    <img src="[Gifts_Under_Block_2_Image_Source]" class="img-responsive" alt="[Gifts_Under_Block_2_Text]">
                    <span>[Gifts_Under_Block_2_Text]</span>
                </a>
            </div>
            <div class="item">
                <a href="[Gifts_Under_Block_3_Link]">
                    <img src="[Gifts_Under_Block_3_Image_Source]" class="img-responsive" alt="[Gifts_Under_Block_3_Text]">
                    <span>[Gifts_Under_Block_3_Text]</span>
                </a>
            </div>
            <div class="item">
                <a href="[Gifts_Under_Block_4_Link]">
                    <img src="[Gifts_Under_Block_4_Image_Source]" class="img-responsive" alt="[Gifts_Under_Block_4_Text]">
                    <span>[Gifts_Under_Block_4_Text]</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row carousel-row">
        <span class="carousel-title">[Inspiration_Headline]</span>
        <div class="gifting-carousel invisible gift-guide-carousel">
            <div class="item">
                <a href="[Inspiration_Block_1_Link]">
                    <img src="[Inspiration_Block_1_Image_Source]" class="img-responsive" alt="[Inspiration_Block_1_Text]">
                    <span>[Inspiration_Block_1_Text]</span>
                </a>
            </div>
            <div class="item">
                <a href="[Inspiration_Block_2_Link]">
                    <img src="[Inspiration_Block_2_Image_Source]" class="img-responsive" alt="[Inspiration_Block_2_Text]">
                    <span>[Inspiration_Block_2_Text]</span>
                </a>
            </div>
            <div class="item">
                <a href="[Inspiration_Block_3_Link]">
                    <img src="[Inspiration_Block_3_Image_Source]" class="img-responsive" alt="[Inspiration_Block_3_Text]">
                    <span>[Inspiration_Block_3_Text]</span>
                </a>
            </div>
            <div class="item">
                <a href="[Inspiration_Block_4_Link]">
                    <img src="[Inspiration_Block_4_Image_Source]" class="img-responsive" alt="[Inspiration_Block_4_Text]">
                    <span>[Inspiration_Block_4_Text]</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row carousel-row">
        <span class="carousel-title">[Blog_Headline]</span>
        <div class="gifting-carousel invisible gift-guide-carousel">
            <div class="item">
                <a href="[Blog_Block_1_Link]">
                    <img src="[Blog_Block_1_Image_Source]" class="img-responsive" alt="[Blog_Block_1_Text]">
                    <span>[Blog_Block_1_Text]</span>
                </a>
            </div>
            <div class="item">
                <a href="[Blog_Block_2_Link]">
                    <img src="[Blog_Block_2_Image_Source]" class="img-responsive" alt="[Blog_Block_2_Text]">
                    <span>[Blog_Block_2_Text]</span>
                </a>
            </div>
            <div class="item">
                <a href="[Blog_Block_3_Link]">
                    <img src="[Blog_Block_3_Image_Source]" class="img-responsive" alt="[Blog_Block_3_Text]">
                    <span>[Blog_Block_3_Text]</span>
                </a>
            </div>
        </div>
    </div>
</div>